html, body {
    height: 100%;
}

path {
    stroke: #fff;
}

.total {
    pointer-events: none;
}

/* legend */

#legend {
    line-height: 1.4em;
}
.legend {
    font-size: 14px;
    float: left;
    margin-right:1em;
}
div#legend .rect {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    display: inline-block;
}
.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
rect {
    stroke-width: 2;
}

div.tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    display: none;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

div.tooltip p {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
}

.legend {
    width: 50%;
    margin: 0 auto;
}

.chart-1 {
    width: 33%;
}